[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
colorama = "*"
hashids = "*"
itsdangerous = "*"
jinja2 = "*"
markupsafe = "*"
werkzeug = "*"
flask = "*"
pymongo = {extras = ["srv"], version = "*"}
flask-pymongo = "*"

[dev-packages]

[requires]
python_version = "3.11"
